<h1>Listing of All Cars</h1>

<table>

  <thead>
    <tr><h2><%= notice %></h2></tr>
    <tr>
      <th>Color</th>
      <th>Year</th>
      <th>Mileage</th>
      <th>Description</th>
    </tr>
  </thead>

  <tbody>
      <% @car.each do |car| %>
        <tr>
          <td><%= car.color %></td>
          <td><%= car.year %></td>
          <td><%= car.mileage %></td>
          <td><%= car.description %></td>
          <td><%= link_to 'Show', car %></td>
        </tr>
      <% end %>
  </tbody>
</table>

<br>
<%= link_to 'Add New Car', new_car_path %>

